.internet-page-section .banner-background {
  background-image: url(../images/hughesnet-internet-page-banner-image.webp);
}

.internet-page-instantly-plan h2 {
  font-size: 32px;
}

.hughsnet-internet-page-plans .hughsnet-cards {
  max-width: 1560px;
  padding: 0 20px;
}

.hughsnet-internet-page-plans .hughsnet-card1 {
  width: 17%;
}

.internet-page-installition-equipmnet .glace-1 {
  align-items: center;
}

.internet-page-installition-equipmnet {
  padding-top: 48px;
}

.internet-install-services h2 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 94px;
}

.internet-install-services h2 span {
  color: #0091c4;
}

.most-populat-option {
  padding-top: 127px;
}

.internet-page-installition-equipmnet .glace-heading h3 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 22px;
}

.internet-page-installition-equipmnet .glace-1 .glace-heading {
  width: 39%;
}

.directive-beam .glace-heading h2 label {
  color: #ff5820;
}

.directive-beam .glace-1 {
  align-items: center;
}

.directive-beam {
  background-image: url(../images/hughsnet-internet-page-directive-beam-section-background.webp);
  height: 847px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.directive-beam .glace-heading-image {
  width: 46%;
}

.services-availble-area .inter-sufring-listing p {
  max-width: 667px;
}

.services-availble-area .at-all-glace {
  background-image: url(../images/hughsnet-internet-page-service-my-area-background.webp);
}

.Faqs-section .faqs-container {
  max-width: 1386px;
}

.internet-page .hughsnet-package-services-card1 {
  max-width: 466px;
  margin: 0 auto;
}

.internet-page .discount-for-three,
.internet-page .free-equipment {
  flex-direction: column;
}

.internet-page .free-equipment h4:nth-child(2) {
  display: none;
}

.discount-for-three h4 {
  font-size: 30px;
  font-weight: 600;
}

@media only screen and (max-width: 1600px) {
  .internet-page-section .banner-background {
    height: 500px;
  }

  .starter-plan h4 {
    font-size: 34px;
  }

  .starter-plan h3 span {
    font-size: 13px;
  }

  .hughsnet-internet-page-plans .hughsnet-cards {
    max-width: 1315px;
  }

  .hughsnet-cards .hughsnet-card1:nth-child(1) .starter-plan:nth-child(1) {
    column-gap: 12px;
  }

  .hughsnet-card1 {
    padding: 22px 17px 18px 10px;
  }
}

@media only screen and (max-width: 1365px) {
  .all-online-fast {
    column-gap: 216px;
  }

  .hughsnet-internet-page-plans .hughsnet-card1 {
    width: 29%;
  }

  .hughsnet-internet-page-plans .hughsnet-cards {
    row-gap: 13px;
    justify-content: center;
    column-gap: 13px;
  }

  .hughsnet-plan-section .hughsnet-plan-background {
    height: unset;
    padding-bottom: 80px;
  }

  .hughsnet-plan-section .plan-bottom-lines p {
    top: -48px;
    bottom: 0;
  }
}

@media only screen and (max-width: 1023px) {
  .hughsnet-internet-page-plans .hughsnet-card1 {
    width: 28%;
  }

  .internet-page-installition-equipmnet .glace-1 .glace-heading {
    width: 100%;
  }

  .most-populat-option .glace-1 {
    flex-direction: column-reverse;
  }

  .internet-page-installition-equipmnet .glace-heading h3 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .hughsnet-internet-page-plans .hughsnet-card1 {
    width: 90%;
  }

  .internet-install-services h2 {
    margin-bottom: 28px;
  }

  .most-populat-option {
    padding-top: 40px;
  }

  .directive-beam .glace-heading-image {
    width: 100%;
  }
}
